#ignore every ps script, exe or asm files used for testing
*.exe
*.ps1
*.idb
*.o
*.obj
*.i64

#Dummy Visual studio project to get some PE files for testing 
exeGen/

#Pycharm venv directory
venv/

#Pycharm .idea directory
.idea/